.box-style
{
/*    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-color: black;
    border-style: solid;*/
    background-color: #202020;
}

.box-error-style
{
/*    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-color: black;
    border-style: solid;*/
    background-color: #202020;
}

.value-background-style
{
    color: grey;
}

.value-style
{
    color: #ffa600;
    font-size: 120px;
    font-weight: bold;
    font-style: italic;
    font-family: DSEG7Classic;
}

.label-style
{
    color: #ffa600;
    font-size: 28px;
    font-weight: bold;
    font-family: Piboto;
}

.label-error-style
{
    color: red;
}

.time-style
{
    color: #ffa600;
    font-size: 24px;
    font-weight: bold;
    font-family: Piboto;
}

.window-style
{
    background-color: black;
}

.grid-style
{
    background-color: black;
}

